.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 40px 17px rgb(156, 156, 156);
}
#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;

}
.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.buttons > div {
    border-top: 1px solid #999;    
    border-right: 1px solid #999;
}

.button {
    border: solid 0.5px #999;
    cursor: pointer;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    transition: 0.19s ease;
}
.button:hover {
    background-color: rgb(241, 241, 241);
}
#equal {
    background-color: rgb(245, 139, 0);
    color: white;
}
#equal:hover, #equal:focus {
    background-color: rgb(185, 105, 0);
}
#c {
    background-color: rgb(17, 94, 182);
    color: white;
}
#c:hover {
    background-color: rgb(1, 66, 139);
}
* {
    font-family: sans-serif;
}
.deletion {
position: absolute;
right: 793px;
border: none;
background-color: rgb(223, 31, 73);
color: white;
padding: 8px 15px;
border-radius: 5px;
font-size: medium;
bottom: 523px;
transition: 0.19s ease;
}
.deletion:hover {
    cursor: pointer;
    background-color: rgb(180, 21, 56);
}
.deletion:disabled {
    background-color: rgb(187 116 131);
    cursor:not-allowed;
}
.op {
    color: rgb(0, 67, 145);
}
